<div class ="container text-center">
    <H1>Volunteer</h1>
    <div class ="row">
        <div class="col">
            <h2>National Park Volunteer Opportunities</h2>
            <%=link_to "Volunteer","https://www.nps.gov/getinvolved/volunteer.htm", target: :_blank%>
            <h2> Donate To National Parks</h2>
            <%=link_to "Donate","https://www.nps.gov/getinvolved/donate.htm", target: :_blank%>
        </div>
    </div>
    <div class ="row">
        <div class="col">
            <h2>National Forest Volunteer Opportunities</h2>
            <%=link_to "Volunteer","https://www.fs.usda.gov/working-with-us/volunteers", target: :_blank%>
        </div>
    </div>

    <div class ="row">
        <div class="col">
            <h2>National Park Foundations</h2>
            <%=link_to "How To Help","https://www.nationalparks.org/connect/blog/you-can-help", target: :_blank%>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <h2>Volunteer.gov</h2>
            <%=link_to "Volunteer","https://www.volunteer.gov/s/", target: :_blank%>
        </div>

    </div>

</div>