<div class="container">

    <%= link_to "Back","/users/#{current_user.id}" %>
    <div class="row">
    
        <%@comments.each do |comment| %>
        
            <div class="col-lg-12">
                <div class="comments-index">
                    <p><%=comment.body%></p>
                    <p><b>Posted: </b><%=comment.created_at.to_datetime.strftime("%m/%d/%Y")%></p>
                    <%=button_to "Update", "/users/#{@user.id}/parks/#{@event.new_park.id}/events/#{@event.new_event.id}/user_new_events/#{@event.id}/comments/#{comment.id}/edit", method: :get, class: "btn btn-primary"  %>
                    <%=button_to "Delete", "/users/#{@user.id}/parks/#{@event.new_park.id}/events/#{@event.new_event.id}/user_new_events/#{@event.id}/comments/#{comment.id}", method: :delete, class: "btn btn-primary"   %>

                </div>
            </div>
        <%end%>        
    </div>
</div>