<div class="container text-center">
    <%if !logged_in?%>
        <div class ="row">
            <div class="col">
                <% @parks.each do |park| %>
                    <div class="park-index">
                        <p><h2> <%= link_to park.name, park_path(park.park_code, :park_code => park.park_code)%></h2></p>
                        <p><%=park.description%></p>
                        <%park.photos.each do |photo|%>
                            <img src="<%=photo[0]%>" alt="<%=photo[1]%>" style="width:110px;height:110px;">
                        <%end%>
                    </div>
            
                <%end%>
            </div>
        </div>
    <%else%>

        <div class ="row">
            <div class="col">
                <% @parks.each do |park| %>
                <div class="park-index">
                    <p><h2> <%= link_to park.name, user_park_path(@user,park.park_code, :park_code => park.park_code)%></h2></p>
                    <p><%=park.description%></p>
                    <%park.photos.each do |photo|%>
                        <img src="<%=photo[0]%>" alt="<%=photo[1]%>" style="width:110px;height:110px;">
                    <%end%>
                    </div>
                <%end%>
            </div>
        </div>
    <%end%>

</div>