<div class = "container text-center">
  <%if !logged_in?%>
    <div class="header">
      <h1>
        <p><%= @park.name %></p>
      </h1>
    </div>
    <p>
      <div class="user-comments">
        <div class="row">
          <div class="col-lg-4">
            <button class="button" type="button" data-toggle="collapse" data-target="#collapseOne-<%=@park.id%>" aria-expanded="false" aria-controls="collapseOne">
              Phone
            </button>
          </p>
          <div class="collapse" id="collapseOne-<%=@park.id%>">
            <%=@park.phone_number%>
          </div>
        </div>
        <div class="col-lg-4">
          <button class="button" type="button" data-toggle="collapse" data-target="#collapseTwo-<%=@park.id%>" aria-expanded="false" aria-controls="collapseTwo">
            Email
          </button>
        </p>
        <div class="collapse" id="collapseTwo-<%=@park.id%>">
          <%=@park.email%>
        </div>
      </div>
      <div class="col-lg-4">
        <button class="button" type="button" data-toggle="collapse" data-target="#collapseThree-<%=@park.id%>" aria-expanded="false" aria-controls="collapseThree">
          Directions From Website
        </button>
      </p>
      <div class="collapse" id="collapseThree-<%=@park.id%>">
        <a href="<%=@park.directions_website%>"target="_blank">Directions</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <button type="button" class="button">
        Alerts <a href="/" class="badge badge-light"><%= @alerts.size %></a>
      </button>
    </div>
    <div class="col-lg-6">
      <button class="button" type="button" data-toggle="collapse" data-target="#collapseFour-<%=@park.id%>" aria-expanded="false" aria-controls="collapseFour">
        Google Directions
      </button>
    </p>
    <div class="collapse" id="collapseFour-<%=@park.id%>">
      <%= link_to "View Directions", "https://www.google.com/maps/dir/?api=1&destination=#{@park.latitude},#{@park.longitude}", target: :_blank %> </p>
  </div>
</div>
</div>
</div>
<div class="user-comments">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div class="header">
        <h1> Events </h1>
      </div>
      <button class="button" type="button" data-toggle="collapse" data-target="#collapseFive-<%=@park.id%>" aria-expanded="false" aria-controls="collapseFive">
        Search Events
      </button>
    </p>
    <div class="collapse" id="collapseFive-<%=@park.id%>">
      <%=form_with url: "/parks/#{@park.park_code}/events", method: :get, local: true do |form|%>
        <div class="row">
          <div class="col-lg-6">
            <%=form.date_field :start, class: "form-control"%>
          </div>
          <div class="col-lg-6">
            <%=form.date_field :finish, class: "form-control"%>
          </div>
        </div>
        <%=form.submit "Search", class: "btn" %>
      <%end%>
    </div>
    <button class="button" type="button" data-toggle="collapse" data-target="#collapseSix-<%=@park.id%>" aria-expanded="false" aria-controls="collapseSix">
      View Events Comments
    </button>
  </p>
  <div class="collapse" id="collapseSix-<%=@park.id%>">
    <%= link_to "View Park Events comments", park_comments_path( @park.id), method: :get%>
  </div>
</div>
<div class="col-lg-6">
  <%if @park.photos[0] == "No photos available"%>
    <img src="/assets/test.png" alt="Logo" style="width:250px;height:200px;">
  <%else%>
    <img src="<%=@park.photos.first[0]%>" alt="<%=@park.photos.first[1]%>" style="width:250px;height:200px;">
  <%end%>
</div>
</div>
</div>
<div class="user-comments">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <%if @park.photos[0] == "No photos available"%>
        <img src="/assets/test.png" alt="Logo" style="width:250px;height:200px;">
      <%else%>
        <img src="<%=@park.photos.last[0]%>" alt="<%=@park.photos.first[1]%>" style="width:250px;height:200px;">
      <%end%>
    </div>
    <div class="col-lg-6">
      <div class="header">
        <h1> Fees and Hours </h1>
      </div>
      <button class="button" type="button" data-toggle="collapse" data-target="#collapseSeven-<%=@park.id%>" aria-expanded="false" aria-controls="collapseSeven">
        Entrance Fees
      </button>
    </p>
    <div class="collapse" id="collapseSeven-<%=@park.id%>">
      <%@park.entrance_fees.each do |p_fees|%>
        <p> <%=p_fees[1]%>: <b>$<%=p_fees[0]%></b></p>
      <%end%>
    </div>
    <button class="button" type="button" data-toggle="collapse" data-target="#collapseEight-<%=@park.id%>" aria-expanded="false" aria-controls="collapseEight">
      Operating Hours
    </button>
  </p>
  <div class="collapse" id="collapseEight-<%=@park.id%>">
    <% @park.operating_hours.each do |hours| %>
      <p><b><%= hours[0]%>:</b> <%=hours[1] %></p>
    <% end %>
  </div>
  <button class="button" type="button" data-toggle="collapse" data-target="#collapseNine-<%=@park.id%>" aria-expanded="false" aria-controls="collapseNine">
    Operating Hours Information
  </button>
</p>
<div class="collapse" id="collapseNine-<%=@park.id%>">
  <p> <%=@park.closed_day%></p>
</div>
</div>
</div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="user-comments">
      <div class="header">
        <h3>Handicapped Accessible Places Within <%=@park.name%></h3>
        <div id ="homepage">
          <%= form_with url: "/parks/#{@park.id}/accessible_places", method: :get, local: true do |form|%>
            <%= select_tag :accessible, options_for_select(accessible_searches) %>
            <% form.hidden_field :park_code, :value => @park.id%>
            <%= form.submit "Find Places", class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="user-comments">
        <div class="header">
          <h3>Weather</h3>
        </div>
        <div class="row">
          <%@weather[0..5].each do |w|%>
            <div class="col-lg-4">
              <img src="http://openweathermap.org/img/w/<%=w.icon%>.png" alt="weather">
              <p>
                <h6><%=Time.at(w.day).strftime("%B %d ")%></h6>
              </p>
              <p><b> Description: </b><%=w.description%></p>
              <div class="accordion" id="#weatherInformation">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="button btn-hover" type="button" data-toggle="collapse" data-target="#collapseOne-<%=w.day%>" aria-expanded="true" aria-controls="collapseOne">
                        Extended Information
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOne-<%=w.day%>"  class="collapse" aria-labelledby="headingOne" data-parent="weatherInformation">
                    <div class="accordion-body">
                      <div class="row">
                        <div class="col-lg-6">
                          <p><b>Sunrise: </b><%=Time.at(w.sunrise).to_formatted_s(:time)%></p>
                        </div>
                        <div class="col-lg-6">
                          <p><b>Sunset: </b><%=Time.at(w.sunset).to_formatted_s(:time)%></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <p><b> Max Temp: </b><%=w.max_temp%></p>
                        </div>
                        <div class="col-lg-6">
                          <p><b> Min Temp: </b><%=w.min_temp%></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <p><b> Feels Like Day: </b><%=w.feel_like_day%></p>
                        </div>
                        <div class="col-lg-6">
                          <p><b> Feels Like Night: </b><%=w.feel_like_night%></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <p><b> Humidity: </b><%=w.humidity%></p>
                        </div>
                        <div class="col-lg-6">
                          <p><b> Wind Speed: </b><%=w.wind_speed%></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
<%else%>
  <div class="container text-center">
    <div class="header">
      <h1>
        <p><%= @park.name %></p>
      </h1>
    </div>
    <div class="row">
      <div class="col">
        <%= button_to "Add To Profile", "/users/#{@user.id}/parks/#{@park.id}/user_new_parks", method: :post, class: "button2"%>
      </div>
    </div>
    <p>
      <div class="user-comments">
        <div class="row">
          <div class="col-lg-3">
            <button class="button" type="button" data-toggle="collapse" data-target="#collapseOne-<%=@park.id%>" aria-expanded="false" aria-controls="collapseOne">
              Phone
            </button>
          </p>
          <div class="collapse" id="collapseOne-<%=@park.id%>">
            <%=@park.phone_number%>
          </div>
        </div>
        <div class="col-lg-3">
          <button class="button" type="button" data-toggle="collapse" data-target="#collapseTwo-<%=@park.id%>" aria-expanded="false" aria-controls="collapseTwo">
            Email
          </button>
        </p>
        <div class="collapse" id="collapseTwo-<%=@park.id%>">
          <%=@park.email%>
        </div>
      </div>
      <div class="col-lg-3">
        <button class="button" type="button" data-toggle="collapse" data-target="#collapseThree-<%=@park.id%>" aria-expanded="false" aria-controls="collapseThree">
          Directions From Website
        </button>
      </p>
      <div class="collapse" id="collapseThree-<%=@park.id%>">
        <a href="<%=@park.directions_website%>"target="_blank">Directions</a>
      </div>
    </div>
    <div class="col-lg-3">
      <button class="button" type="button" data-toggle="collapse" data-target="#collapseFour-<%=@park.id%>" aria-expanded="false" aria-controls="collapseFour">
        Google Directions
      </button>
    </p>
    <div class="collapse" id="collapseFour-<%=@park.id%>">
      <%= link_to "View Directions", "https://www.google.com/maps/dir/?api=1&destination=#{@park.latitude},#{@park.longitude}", target: :_blank %> </p>
  </div>
</div>
</div>
</div>
<div class="user-comments">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div class="header">
        <h1> Events </h1>
      </div>
      <button class="button" type="button" data-toggle="collapse" data-target="#collapseFive-<%=@park.id%>" aria-expanded="false" aria-controls="collapseFive">
        Search Events
      </button>
    </p>
    <div class="collapse" id="collapseFive-<%=@park.id%>">
      <%=form_with url: "/users/#{@user.id}/parks/#{@park.park_code}/events", method: :get, local: true do |form|%>
        <div class="row">
          <div class="col-lg-6">
            <%=form.date_field :start, class: "form-control"%>
          </div>
          <div class="col-lg-6">
            <%=form.date_field :finish, class: "form-control"%>
          </div>
        </div>
        <%=form.submit "Search", class: "btn" %>
      <%end%>
    </div>
    <button class="button" type="button" data-toggle="collapse" data-target="#collapseSix-<%=@park.id%>" aria-expanded="false" aria-controls="collapseSix">
      View Events Comments
    </button>
  </p>
  <div class="collapse" id="collapseSix-<%=@park.id%>">
    <%= link_to "View Park Events comments", user_park_comments_path(@user.id, @park.id), method: :get%>
  </div>
</div>
<div class="col-lg-6">
  <%if @park.photos[0] == "No photos available"%>
    <img src="/assets/test.png" alt="Logo" style="width:250px;height:200px;">
  <%else%>
    <img src="<%=@park.photos.first[0]%>" alt="<%=@park.photos.first[1]%>" style="width:250px;height:200px;">
  <%end%>
</div>
</div>
</div>
<div class="user-comments">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <%if @park.photos[0] == "No photos available"%>
        <img src="/assets/test.png" alt="Logo" style="width:250px;height:200px;">
      <%else%>
        <img src="<%=@park.photos.last[0]%>" alt="<%=@park.photos.first[1]%>" style="width:250px;height:200px;">
      <%end%>
    </div>
    <div class="col-lg-6">
      <div class="header">
        <h1> Fees and Hours </h1>
      </div>
      <button class="button" type="button" data-toggle="collapse" data-target="#collapseSeven-<%=@park.id%>" aria-expanded="false" aria-controls="collapseSeven">
        Entrance Fees
      </button>
    </p>
    <div class="collapse" id="collapseSeven-<%=@park.id%>">
      <%@park.entrance_fees.each do |p_fees|%>
        <p> <%=p_fees[1]%>: <b>$<%=p_fees[0]%></b></p>
      <%end%>
    </div>
    <button class="button" type="button" data-toggle="collapse" data-target="#collapseEight-<%=@park.id%>" aria-expanded="false" aria-controls="collapseEight">
      Operating Hours
    </button>
  </p>
  <div class="collapse" id="collapseEight-<%=@park.id%>">
    <% @park.operating_hours.each do |hours| %>
      <p><b><%= hours[0]%>:</b> <%=hours[1] %></p>
    <% end %>
  </div>
  <button class="button" type="button" data-toggle="collapse" data-target="#collapseNine-<%=@park.id%>" aria-expanded="false" aria-controls="collapseNine">
    Operating Hours Information
  </button>
</p>
<div class="collapse" id="collapseNine-<%=@park.id%>">
  <p> <%=@park.closed_day%></p>
</div>
</div>
</div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="user-comments">
      <div class="header">
        <h3>Handicapped Accessible Places Within <%=@park.name%></h3>
        <div id ="homepage">
          <%= form_with url: "/parks/#{@park.id}/accessible_places", method: :get, local: true do |form|%>
            <%= select_tag :accessible, options_for_select(accessible_searches) %>
            <% form.hidden_field :park_code, :value => @park.id%>
            <%= form.submit "Find Places", class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="user-comments">
        <div class="header">
          <h3>Weather</h3>
        </div>
        <div class="row">
          <%@weather[0..5].each do |w|%>
            <div class="col-lg-4">
              <img src="http://openweathermap.org/img/w/<%=w.icon%>.png" alt="weather">
              <p>
                <h6><%=Time.at(w.day).strftime("%B %d ")%></h6>
              </p>
              <p><b> Description: </b><%=w.description%></p>
              <div class="accordion" id="#weatherInformation">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="button btn-hover" type="button" data-toggle="collapse" data-target="#collapseOne-<%=w.day%>" aria-expanded="true" aria-controls="collapseOne">
                        Extended Information
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOne-<%=w.day%>"  class="collapse" aria-labelledby="headingOne" data-parent="weatherInformation">
                    <div class="accordion-body">
                      <div class="row">
                        <div class="col-lg-6">
                          <p><b>Sunrise: </b><%=Time.at(w.sunrise).to_formatted_s(:time)%></p>
                        </div>
                        <div class="col-lg-6">
                          <p><b>Sunset: </b><%=Time.at(w.sunset).to_formatted_s(:time)%></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <p><b> Max Temp: </b><%=w.max_temp%></p>
                        </div>
                        <div class="col-lg-6">
                          <p><b> Min Temp: </b><%=w.min_temp%></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <p><b> Feels Like Day: </b><%=w.feel_like_day%></p>
                        </div>
                        <div class="col-lg-6">
                          <p><b> Feels Like Night: </b><%=w.feel_like_night%></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <p><b> Humidity: </b><%=w.humidity%></p>
                        </div>
                        <div class="col-lg-6">
                          <p><b> Wind Speed: </b><%=w.wind_speed%></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>
