<div class="container text-center">   
    <div class="header">
        <h1><%=@user.first_name%> <%=@user.last_name%>'s Profile</h1>
    </div>

    <div class="user-comments">
        <div class="row">
        
            <div class="col-lg-6">
                <p><b>Username: </b><%=@user.username%></p>
            </div>
            <div class="col-lg-6">
                <p><b>State: </b><%=@user.state%></p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="user-comments">
                <div class="header">
                    <h3> Favorite Parks </h3>
                </div>
                    <%@all_user_parks.each do |park|%>
                        <p>Name: <%=link_to "#{park.new_park.name}", "/users/#{@user.id}/parks/#{park.new_park.id}"%></p>
                        <p>Description: <%=park.new_park.description%></p>
                        <%=button_to "Delete Park", "/users/#{@user.id}/parks/#{park.new_park.id}/user_new_parks/#{park.id}", method: :delete,class: "btn btn-primary"%>
                    <%end%>
            </div>
        </div>
    </div>


    <div class="row">
            <div class="col">
                <div class="user-comments">
                    <div class="header">

                            <h3> Favorite Events </h3>
                    </div>
                        <% @all_user_events.each do |event| %>
                        <p>Name: <%=link_to "#{sanitize event.new_event.name}", user_park_path(current_user.id, event.new_park.id) %></p>

                            <%if !event.date_attend.nil?%>
                            <p><b>Date Attended: </b><%= event.date_attend%> </p>
                            <%end%>
                            <%if event.date_attend.nil?%>
                                <%=form_with url: "/users/#{@user.id}/parks/#{event.new_park.id}/events/#{event.new_event.id}/user_new_events/#{event.id}", method: :patch, local: true  do |form|%>
                                    <%=form.date_field :date_attend%>
                                
                                    <%=form.submit "Add Date Attended", class: "btn btn-primary"%>
                                <%end%>
                            <%end%>
                            <p><b>Description: </b><%= sanitize event.new_event.description %></p>
                            
                    <div class ="row">
                        <div class="col-lg-4">
                            <%=button_to "Delete Event", "/users/#{@user.id}/parks/#{event.new_park.id}/events/#{event.new_event.id}/user_new_events/#{event.id}", method: :delete,class: "btn btn-primary"%>
                        </div>
                        <div class="col-lg-4">
                            <%= button_to "Add Comment", "/users/#{@user.id}/parks/#{event.new_park.id}/events/#{event.new_event.id}/user_new_events/#{event.id}/comments/new", method: :get,class: "btn btn-primary" %>
                        </div>
                        <div class="col-lg-4">
                            <%= button_to "View Comments", "/users/#{@user.id}/parks/#{event.new_park.id}/events/#{event.new_event.id}/user_new_events/#{event.id}/comments", method: :get,class: "btn btn-primary" %>
                        </div>
                    </div>
                        <% end%>
                        
            </div>
        </div>
    </div>
