<div class="container text-center">   
    <div class="header">
        <h1><%=@user.first_name%> <%=@user.last_name%>'s Profile</h1>
    </div>

    <div class="user-show">
        <div class="row">
            <div class="col">
                 <div class="profile-image-format"><img src="https://user-images.githubusercontent.com/88012780/249285064-2a7decf0-0c9c-40c9-8f0e-1a191b5eee36.jpg"></div>
                <div class="user-show-text">
                <h5><p><b>Username: </b><%=@user.username%></p></h5>
                <h5><p><b>State: </b><%=@user.state%></p></h5>
                <h5><p><b>Favorited Parks: </b><%=@all_user_parks.size %> </p></h5>
                <h5><p><b>Favorited Events: </b><%= @all_user_events.size %> </p></h5>
                    </div>
                <%= button_to "Edit Profile", edit_user_path(current_user), method: :get,class: "btn profile-btn-bottom"%>
                </div>
        </div>
    </div>



                


<div class="container text-center">



    <div class="accordion" id="#parkInformation">
        <div class="accordion-item">
            <div class="accordion-header" id="headingOne">
            <h5 class="mb-0">
                <button class="button2 btn-hover" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h3>Favorite Parks</h3>
                </button>
            </h5>
            </div>

            <div id="collapseOne"  class="collapse" aria-labelledby="headingOne" data-parent="parkInformation">
                <div class="accordion-body">
       
                <%if @all_user_parks.blank?%>
                 <div class="user-comments">
                    <%= form_with url: "/users/#{@user.id}/parks", method: :get, local: true do %>
                    <%= select_tag :state, options_for_select(us_states) %>
                    <%= submit_tag "Find Parks", class: "btn btn-primary" %>
                </div>
                    <% end %>
                <%end%>
    
                <%@all_user_parks.each do|park|%>
                    <div class="user-comments">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="header">
                            <h5><p> <%=link_to "#{park.new_park.name}", "/users/#{@user.id}/parks/#{park.new_park.id}"%></p></h5>
                                </div>
                                    <p><%=park.new_park.description%></p>

                            </div>

                            <div class="col-lg-6">
                                <div class="accordion" id="#parkInformation">
                                    <div class="accordion-item">
                                        <div class="accordion-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="button btn-hover" type="button" data-toggle="collapse" data-target="#collapseOne-<%=park.new_park.id%>" aria-expanded="true" aria-controls="collapseOne">
                                            Find a Place Near This Park
                                            </button>
                                        </h5>
                                        </div>

                                        <div id="collapseOne-<%=park.new_park.id%>"  class="collapse" aria-labelledby="headingOne" data-parent="parkInformation">
                                            <div class="accordion-body">
                                                <%=form_with url: "/users/#{@user.id}/search_results", method: :get, local: true  do |form|%>
                                                    <%=form.label :q, "Place:"%>
                                                    <%=form.text_field :q, placeholder: "Ex: Bar, Cafe"%>

                                                    <%=form.label :radius, "Radius:" %>
                                                    <%=form.text_field :radius, placeholder: "Enter Miles"%>

                                                    <%=form.hidden_field :park_id, :value => park.new_park.id%>
                                                        
                                                    <%=form.submit "Find Place", class: "btn btn-primary"%>
                                                <%end%>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <%=button_to "Remove Park", "/users/#{@user.id}/parks/#{park.new_park.id}/user_new_parks/#{park.id}", method: :delete,class: "button btn-primary"%>

                            </div>
                        </div>
                    </div>
                <%end%>   
            </div>
        </div>
    </div>    







    <div class="accordion" id="#eventInformation">
        <div class="accordion-item">
            <div class="accordion-header" id="headingOneEvent">
                <h5 class="mb-0">
                    <button class="button2 btn-hover" type="button" data-toggle="collapse" data-target="#collapseOneEvent" aria-expanded="true" aria-controls="collapseOneEvent">
                    <h3>Favorite Events</h3>
                    </button>
                </h5>
            </div>

            <div id="collapseOneEvent"  class="collapse" aria-labelledby="headingOneEvent" data-parent="eventInformation">
                    <div class="accordion-body">
        
                        <%if @all_user_events.blank?%>
                        <div class="user-comments">
                            <%= form_with url: "/users/#{@user.id}/parks", method: :get, local: true do %>
                            <%= select_tag :state, options_for_select(us_states) %>
                            <%= submit_tag "Find Parks", class: "btn btn-primary" %>
                        </div>
                            <% end %>
                        <%end%>

                        <%@all_user_events.each do|event|%>
                            <div class="user-comments">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <div class="header">
                                            <h5><p><%=link_to "#{sanitize event.new_event.name}", user_park_path(current_user.id, event.new_park.id) %></p></h5>
                                        </div>
                                        <p><%=sanitize event.new_event.description%></p>
                                        <div class ="row">
                                           
                                            <div class="col-lg-6">
                                                <%= button_to "Add Comment", "/users/#{@user.id}/parks/#{event.new_park.id}/events/#{event.new_event.id}/user_new_events/#{event.id}/comments/new", method: :get,class: "btn" %>
                                            </div>
                                            <div class="col-lg-6">
                                                <%= button_to "View Comments", "/users/#{@user.id}/parks/#{event.new_park.id}/events/#{event.new_event.id}/user_new_events/#{event.id}/comments", method: :get,class: "btn" %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="accordion" id="#eventInformation">
                                            <div class="accordion-item">
                                                <div class="accordion-header" id="headingOneEvent">
                                                <h5 class="mb-0">
                                                    <button class="button btn-hover" type="button" data-toggle="collapse" data-target="#collapseOneEvent-<%=event.new_event.id%>" aria-expanded="true" aria-controls="collapseOneEvent">
                                                    Find a Place Near This Park
                                                    </button>
                                                </h5>
                                                </div>
                                                <div id="collapseOneEvent-<%=event.new_event.id%>"  class="collapse" aria-labelledby="headingOneEvent" data-parent="eventInformation">
                                                    <div class="accordion-body">
                                                        <%=form_with url: "/users/#{@user.id}/search_results", method: :get, local: true  do |form|%>
                                                            <%=form.label :q, "Place:"%>
                                                            <%=form.text_field :q, placeholder: "Ex: Bar, Cafe"%>

                                                            <%=form.label :radius, "Radius:" %>
                                                            <%=form.text_field :radius, placeholder: "Enter Miles"%>

                                                            <%=form.hidden_field :park_id, :value => event.new_.id%>
                                                                
                                                            <%=form.submit "Find Place", class: "btn btn-primary"%>
                                                        <%end%>
                                                    </div>
                                                </div>


                                            </div>


                                            
                                            <div class="accordion-item">
                                                <div class="accordion-header" id="headingOneEvent">
                                                    <h5 class="mb-0">
                                                        <button class="button btn-hover" type="button" data-toggle="collapse" data-target="#collapseOneEvent2-<%=event.new_event.id%>" aria-expanded="true" aria-controls="collapseOneEvent2">
                                                        Date Attended
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseOneEvent2-<%=event.new_event.id%>"  class="collapse" aria-labelledby="headingOneEvent" data-parent="eventInformation">
                                                    <div class="accordion-body">
                                                        <%if !event.date_attend.nil?%>
                                                            <p><b>Date Attended: </b><%= event.date_attend.to_datetime.strftime("%m/%d/%Y")%> </p>
                                                        <%end%>
                                                        <%if event.date_attend.nil?%>
                                                            <%=form_with url: "/users/#{current_user.id}/parks/#{event.new_park.id}/events/#{event.new_event.id}/user_new_events/#{event.id}", method: :patch, local: true  do |form|%>
                                                                <%=form.date_field :date_attend%>
                                                            
                                                                <%=form.submit "Add Date Attended", class: "btn btn-primary"%>
                                                            <%end%>
                                                        <%end%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <%=button_to "Delete Event", "/users/#{@user.id}/parks/#{event.new_park.id}/events/#{event.new_event.id}/user_new_events/#{event.id}", method: :delete,class: "button"%>

                                    </div>
                                </div>
                            </div>
                            
                        <%end%>
                        
                    </div>

            </div>
        </div>
    </div>  
</div>
