<div class = "container text-center">
    <h1> Welcome </h1>
    <%if !logged_in?%>


        <%= form_tag :parks, method: :get, class: "form-inline" do %>
            <%= select_tag :state, options_for_select(us_states) %>
            <%= submit_tag "Find Parks", class: "btn btn-primary" %>
        
        <% end %>

            <div class="row">
        <div class="col">
            <div class="user-comments">
            <h2> Create An Account </h2>

            <%= button_to "Sign Up", "/users/new", method: :get,class: "btn btn-primary"%>
            </div>
        </div>

        


    
        <div class="col">
            <div class="user-comments">
            <h2> Login </h2>

            <%= button_to "Login", "/login", method: :get,class: "btn btn-primary"%>
            </div>
        </div>

        </div>



    
    <%end%>




    <%if logged_in?%>


        <%= form_with url: "/users/#{@user.id}/parks", method: :get, local: true do %>
            <%= select_tag :state, options_for_select(us_states) %>
            <%= submit_tag "Find Parks", class: "btn btn-primary" %>
    
        <% end %>


        <div class="row">
        
            <div class="col-lg-6">
                <div class="user-comments">
                    <h2>Logout</h2>
                    <%= button_to "Logout", "/logout", method: :get,class: "btn btn-primary"%>

                </div>
            </div>
        
                <div class="col-lg-6">
                <div class="user-comments">
                    
                    <h2>View Your Profile</h2>
                    <%= button_to "Profile", "/users/#{@user.id}", method: :get,class: "btn btn-primary"%>
                </div>
            </div>
        
        </div>
        
    <%end%>
</div>