
<% flash.each do |msg| %>
    <%= msg %>
<% end %>

<%@events.each do |event|%>

    <h1><p><%=event.name%></p></h1>
   <p> <%= sanitize event.description %></p>
  
   <% if current_user %>
        <%= link_to "View Event", "/users/#{current_user.id}/parks/#{@park.id}/events/#{event.event_code}"%>
    <% else%>
         <%= link_to "View Event", "/parks/#{@park.id}/events/#{event.event_code}"%>
    <% end %>
<%end%>
