<div class="container text-center">
    <% flash.each do |msg| %>
    
        <%= msg %>
    <% end %>

    <%if @events.empty?%>
        <h1>There Are No Events Scheduled. Please Contact The Park For More Information!</h1>
    <%end%>
    <div class="row">

        <%@events.each do |event|%>
            <div class="col-lg-6">
              <div class="event-index">
                <div class="header">
                    <h1><p><%=event.name%></p></h1>
                </div>
                      <p> <%= sanitize event.description %></p>
        
                    <% if current_user %>
                        <%= link_to "View Event", "/users/#{current_user.id}/parks/#{@park.id}/events/#{event.event_code}"%>
                    <% else%>
                        <%= link_to "View Event", "/parks/#{@park.id}/events/#{event.event_code}"%>
                    <% end %>
                </div>
            </div>
        <%end%>
    </div>
</div>    