
<nav class="navbar navbar-light ">
  <div class="container">
    <a id="header" class="navbar-brand" href="/"><img src="/assets/test.png"width="100" height="80"></a>
    <p id='nav-blurb'> Plan Your Next Weekend Away!</p>
    
      <div class="nav justify-content-end ">

            <%if logged_in?%>
                <div id="form-header">
                    <%= form_with url: "/users/#{current_user.id}/parks", method: :get, local: true do %>
                        <%= select_tag :state, options_for_select(us_states) %>
                        <%= submit_tag "Find Parks", class: "btn btn-primary" %>

                    <% end %>
                </div>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Menu
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <%= link_to "Home", "/", :class => "nav-link"%>


                         <%= link_to "Log Out", "/logout", :class => "nav-link"%>
                         <%= link_to "Profile", "/users/#{current_user.id}", :class => "nav-link"%>

                    </div>
                </div>
            <%else%>
                <div id="form-header">
                    <%= form_tag :parks, method: :get, class: "form-inline" do %>
                        <%= select_tag :state, options_for_select(us_states) %>
                        <%= submit_tag "Find Parks", class: "btn btn-primary" %>
            
                    <% end %>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <%= link_to "Home", "/", :class => "nav-link"%>
                        <%= link_to "Log In", "/login", :class => "nav-link"%>
                        <%= link_to "Sign Up", "/users/new", :class => "nav-link"%>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</nav>
